# Day 2

## Data type
String is the text, using " in beetween
You can recall the String's letter by subscript the letter with [].

In [3]:
print("Hello"[4])

o

You can even use -1 to get the last letter

In [4]:
print("Hello"[-1])

o

If you want to add numbers together, should not use strings, but integer - whole numbers; then it will add them together.
-Large number- can have _ in it for read easily, but will be skipped by the interpreter
Floats are with decimal number, represented by .
Boolean is TRUE or FALSE

In [9]:
print("123" + "456")
print(123 + 456)
print(f"Large number: {123_456}")
print(123.456)
print(True, False)

123456
579
Large number: 123456
123.456
True False

## Type error, Type Checking, Type casting

There are certain functions that can only be done via certain data type. eg:

In [12]:
len(1234)
len("1234")

TypeError: object of type 'int' has no len()

type() funciton can give the data type of an argument

In [14]:
print(type("Hello"))
print(type(123))

<class 'str'>
<class 'int'>

### Challange
Using the type() and print() funcions, print out 4 lines into the output area, so we get the full collection of data types that we learnt about: string, float, intiger, boolean

In [19]:
print(type("Hello"), type(123), type(1.23), type(True))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Type Casting

There are built in fucntions for converting data types eg. to integer int()

In [20]:
int("123")
print(int("123") + int("456"))

579

Not every type can be casted to other types

In [21]:
print(int("abc"))

ValueError: invalid literal for int() with base 10: 'abc'

Conversion fucntions:
- int()
- float()
- str()
- bool()

### Challange

Make the below line of code without errors:
print("Number of letters in your name: " + len(input("Enter your name")))

In [24]:
print("Number of letters in your name: " + str(len(input("Enter your name"))))

Number of letters in your name: 4

## Math Operations

Can use the basic math operations: + - * /
But / is always adding float!
If I add //, it converts to int, but with skipping hte floats
Also possible the power of number via **
If you have multiple operations, the python uses the normal order of operations. eg. (); **; */; +-

In [25]:
print(3 * 3 + 3 / 3 - 3)

7.0

### Challange
Modify the above line to code to get 3 as a result

In [26]:
print(3 * (3 + 3) / 3 - 3)

3.0

## Challange

BMI Calculator
The body mass index (BMI) is a measure used in medicine to see if someone is underweight or overweight. This is the formula used to calculate it:

bmi is equal to the person's weight divided by the person's height squared.

Convert this sentence into code.

In [27]:
height = 1.65 
weight = 84

# Write your code here.
# Calculate the bmi using weight and height.
bmi = weight / height ** 2 

print(bmi)

30.85399449035813

## Number manipulation and f-string

Sometimes it is best to manupiate the length of the print out.
AS seen the tipical typa cast grounds the value to the lower part of float.
BUT the round() function uses the normal rounding. This can also set how many decimal we want it to round

In [28]:
print(30.612313123)
print(int(30.612313123))
print(round(30.612313123))
print(round(30.312313123,2))

30.612313123
30
31
30.31

The following operations, uses the previous value of the variable and adds the following value to it.

In [30]:
score = 0
print(score)

score += 1
print(score)

score *= 3
print(score)

0
1
3

f-string can be used to skip the conversaions when want to concatenate str and int etc
You just need to add an f before the "". and use {} to store valiable.

In [32]:
print(f"Your score is = {score}, your hieght is {height}.")

Your score is = 3, your hieght is 1.65.

## Project

In [1]:
import Tip_Calculator
Tip_Calculator

Welcome to the tip calculator!
Each person should pay: $33.0